.main-page {
  display: flex;
  justify-content: center;
  align-content: center;
  &-links {
    height: 400px;
    width: 600px;
    margin: auto;
    padding-top: 100px;
    a {
      color: #ffffff;
      font-weight: 900;
      text-decoration: none;
      .main-page-links-item {
        padding: 20px 50px;
        background-color: #269cd3;
        border-radius: 10px;
        margin-bottom: 20px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
