@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #e4e4e4;
  tr {
    th,
    td {
      padding: 15px;
      border: 1px solid #e4e4e4;
      font-weight: 300;
      font-size: 13px;
    }
  }
}
.table-container {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  overflow: hidden;
  table {
    width: calc(100% + 2px);
    margin: -1px;
    border: none;
  }
}
